@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.accounts-page {
  border-top: 1px solid #e1e5f2;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: auto;
  width: 100%;
  margin-top: 0px;
  padding: 2rem 1rem;
  background-color: white;
  background-color: #fefffe;
  // height: 90vh;


  .save-changes {
    // border: 1px solid black;
    margin: auto;
    width: 70%;
    margin-bottom: 1rem;
    margin-top: 2rem;

    .button {
      width: 100%;
      margin-top: 2rem;
      font-size: .9rem;
      font-family: 'Inter', sans-serif;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border: none;
      color: black;
      padding: 2rem;
      transition: all .3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      &:hover {
        background-color: #011627;
        color: white;
        box-shadow: none;
      }
    }
  }

  .accounts-heading {
    // border: 1px solid black;
    padding: 0.8rem 1.5rem;
    align-items: center;

    h2 {
      color: #10002b;
      font-size: 1.7rem;
      font-weight: 600;
      font-family: 'Inter', sans-serif;


    }
  }

  .columns {
    margin: 0 !important;
    // border: 2px solid blue;
    // border: 1px solid #e1e5f2;

  }

  .accounts-container {
    // border: 1px solid red;
    // width: 60%;
    padding: 0.8rem 1.5rem;
    margin: 0;


    .add-skill-button {
      // border: 1px solid #011627;
      border: none;
      border-radius: 6px;
      color: #011627;
      font-size: .9rem;
      transition: all .3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      margin-top: 1.5rem !important;
      background-color: white;

      &:hover {
        background-color: #011627;
        color: white;
      }
    }

    .heading {
      // border: 1px solid black;
      margin-bottom: 20px;

      h2 {
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        font-size: 1.1rem;
        text-transform: none;
        color: #011627;
      }

      p {
        text-transform: none;
        font-family: 'Inter', sans-serif;

        font-size: .8rem;
        margin-top: 5px;
        font-weight: 300;
        color: #495057;
      }
    }

    .experience-container {
      // border: 1px solid black;
      padding: .8rem;
      padding-left: 1rem;
      border-left: 2px solid rgb(235, 235, 235);
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;


      .company-name {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 1.1rem;
      }

      .job-title {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: black;
        font-size: .9rem;
      }

      .dates {
        font-family: 'Inter', sans-serif;
        font-size: .9rem;
        font-weight: 300;
        margin-top: 9px;
      }

      .desc {
        font-family: 'Inter', sans-serif;
        font-size: .9rem;
      }

      .button {
        // border: 1px solid black;
        background-color: white;
        font-size: .6rem;
        color: rgb(129, 129, 129);
        transition: all .3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        &:hover {
          background-color: #011627;
          color: white;
          box-shadow: none;
        }
      }


    }

    .field {
      // border: 1px solid black;

      .control.has-icons-left {
        // border: 1px solid black;
        align-items: center;

        .icon {
          // border: 1px solid black;
          height: 100%;
          margin-right: 30px;

          svg {
            font-size: 1.2rem;
          }
        }


      }


      &.user-type {
        // border: 1px solid black;


        .control {
          // border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: start;
          // border-radius: 10px;
          padding: 0;
          // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;



          .button {
            width: 25%;
            border: none;
            border-radius: 10px;
            transition: all .3s ease-in-out;
            box-shadow: none;
            font-size: .9rem;
            margin: .5rem;
            padding: 1.3rem;
            // border: 1px solid black;
            background-color: #01162710;
            font-family: 'Inter', sans-serif;

            &:focus {
              outline: none !important;
            }

            &.selected,
            &:hover {
              background-color: #011627;
              color: white;
              // font-weight: bold;

            }

            &.job-seeker {
              margin-left: 0;
            }
          }
        }
      }


      .label {
        font-family: 'Inter', sans-serif;
        font-size: .9rem;
        font-weight: 500;
      }

      .input {
        box-shadow: none;
        height: 2.9rem;
        font-size: .9rem;
        font-family: 'Inter', sans-serif;
      }


    }

    .names-fields {
      // border: 1px solid black;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .field {
        // border: 1px solid black;
        margin: 0;
        width: 50%;

        &:first-child {
          margin-right: 5px;
        }

        .input {
          width: 100%;

        }
      }
    }

    .select-field {
      // border: 1px solid black;
      margin-top: 10px;

      .select {
        // border: 1px solid black;
        width: 100%;

        select {
          width: 100%;
          box-shadow: none;
          height: 2.9rem;
          font-size: .9rem;
          font-family: 'Inter', sans-serif;
        }
      }
    }

    .skills-field {
      // border: 1px solid black;

      .add-skill-button {
        // border: 1px solid #011627;
        border: none;
        border-radius: 6px;
        color: #011627;
        font-size: .9rem;
        transition: all .3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        margin-top: 1.5rem !important;

        &:hover {
          background-color: #011627;
          color: white;
        }
      }

      .skills-list {
        background-color: hsl(0deg, 0%, 100%);
        // border: 1px solid hsl(0deg, 0%, 86%);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 6px;
        padding: .75rem .5rem;
        margin-top: 20px;
        // min-height: 2.9rem;


        .tag {
          margin: 4px;
          transition: all .2s ease-in-out;
          height: 30px;
          background-color: #011627;
          color: white;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }

          span {
            margin-right: 2px;
          }
        }
      }
    }
  }

  .profile-section {
    // border: 1px solid black;

    .heading {
      // border: 1px solid black;
      margin-bottom: 20px;
      text-align: center;

      h2 {
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
        text-transform: none;
        color: #011627;
      }
    }

    .resume-section {
      // border: 1px solid black;
      margin-top: 4rem;
    }

    .profile-image {
      // border: 1px solid black;
      // height: 50px;
      margin: auto;
      width: 20%;
      padding: 0;

      img {
        // border: 1px solid hsl(0deg, 0%, 86%);
        // padding: 5px;
        margin: 0;
        // border-radius: 50%;
        // box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
        border: 1px solid #e1e5f2;
        padding: 20px;
        border-radius: 50%;

      }

      .resume-preview {
        // border: 1px solid black;
        font-size: 3rem;
        text-align: center;
        color: black;
        // width: 70%;

        .view-resume-button {
          font-size: .7rem;
          border: 1px solid rgb(193, 193, 193);
          // border: 1px solid red;
          padding: 1rem;
          border-radius: 6px;
          font-weight: 500;
          color: rgb(60, 137, 237);
          display: flex;
          align-items: center;
          justify-content: center;
          // border: 1px solid red;

          .icon {
            font-size: 4rem;
            margin-right: 10px;
          }
        }
      }
    }

    .image-upload {
      // border: 1px solid black;
      margin: auto;
      width: 80%;
      margin-top: 20px;
      padding: 10px;
      

      .file {
        // border: 2px solid red;
        // padding: 10px;

        .file-label {
          // border: 1px solid blue;
          // padding: 10px;

          .file-cta {
            background-color: white;
            // border: none;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          
            .file-icon {
              font-size: 1rem;
            }
          }
        }
        

        label.file-label {
          // border: 2px solid green;
          border-radius: 4px;
          width: 100%;
          font-size: .8rem;
          

          svg {
            font-size: 2rem;
          }
        }

      }
    }
  }
}



@media(max-width:550px) {

  .field.user-type {
    .control {
      // border: 1px solid red !important;

      .button {
        width: 40% !important;
      }
    }
  }
}

.input {
  font-family: 'Inter', sans-serif !important;
}