@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.hero-container {
  // border: 1px solid black;
  // height: 50vh;
  position: relative;
  text-align: center;
  padding-bottom: 3rem;
  background-color: white;

  .hero-bg {
    // border: 2px solid red;
    position: absolute;
    height: 100%;
    width: 100%;

    
    .line1 {
      position: absolute;
      bottom: -5%;
      right: 10%;
      // transform: scale(1.2);
      transform: rotate(25deg) scale(1.2);

    }
    .line2 {
      position: absolute;
      top: 10%;
      left: 10%;

    }
    .line3 {
      position: absolute;
      top: 10%;
      right: 10%;

    }
  }

  .hero-title {
    // border: 1px solid black;
    font-size: 3rem;
    font-weight: 700;
    color: #001524;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;

    span {
      color: #0466c8;
    }

  }

  .hero-subtitle {
    // border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 500;
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
  }
}

.browse-section {
  // border: 1px solid black;
  margin: auto;
  width: 70%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: white;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #001524;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
  }

  .hero-subtitle {
    // border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: 500;
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
  }
}


@media(max-width:580px) {
  .hero-title {
    width: 95% !important;
  }
}

