@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


.find-jobs-page.columns {
  margin: 0 !important;
  padding: 0 !important;
  // border: 1px solid black;

  .left {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fefffe;
    border-right: 1px solid #e1e5f2;
    border-top: 1px solid #e1e5f2;
  }

  .right {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fefffe;
  }
  
}

.search-bar-main-container {
  // border: 1px solid black;
  border: 1px solid #e1e5f2;
  border-left: none;
}
.search-result-main-container {
  // border: 1px solid black;
  // border: 1px solid #e1e5f2;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e5f2;
  text-align: center;
}

