.page-banner {
    border: none;
    // height: 15vh;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 0;
    font-weight: 600;
    color: black;
    // background-color: #F6F7F9;
    background-color: #fefefe;
    border-bottom: 1px solid #e1e5f2;
    border-top: 1px solid #e1e5f2;
    font-family: 'Inter', sans-serif;
      color: #2c363f;
      
}