.post-page {
    background-color: rgb(248, 248, 248);
}

.post-container {
    // border: 1px solid black;
    margin: auto;
    margin-top: 4%;
    width: 80%;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;

    .heading {
        // border: 1px solid black;

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            color: black;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 1rem;
            color: royalblue;
            margin-bottom: 7px;
            text-transform: none;
        }

        p {
            font-size: .7rem;
            color: rgb(72, 72, 72);
            text-transform: none;
        }
    }

    .form {
        padding: 2rem;
        padding-left: 0;

        .field {
            // border: 1px solid black;
            .ql-toolbar.ql-snow {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .ql-container.ql-snow {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .ql-container {
                height: 250px;
            }

            &.logo-field {
                // border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &.double {
                // border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .job-type,
                .job-level {
                    // margin-right: 30px;
                    // border: 1px solid black;
                    width: 50%;
                }

                .job-type {
                    margin-right: 10px;
                }

                .control {
                    // border: 1px solid black;

                    .select {
                        width: 100%;

                        select {
                            width: 100%;
                        }
                    }
                }
            }

            &.buttons-field {
                // border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 4rem;

                .control {
                    // border: 1px solid black;
                    width: 30%;

                    .button {
                        height: 50px;
                        width: 100%;

                        &.post {
                            color: white;
                            background-color: black;
                        }
                    }
                }
            }

            .label {
                font-size: .9rem;
                color: black;
                font-weight: 500;
            }

            .input,
            .textarea {
                box-shadow: none;
                border-radius: 6px;
                font-size: .9rem;
            }

            .file-cta {
                // border: 1px solid black;
                background-color: white;
                border-radius: 0;
            }

            svg {
                font-size: 2rem;
                color: black;
            }
        }
    }

}

@media only screen and (max-width: 830px) {
    .post-container {
        width: 100% !important;
        box-shadow: none !important;
        // padding: 2rem !important;

        .form {
            padding: 0 !important;
        }
    }
}