.view-application-modal {
  background-color: white;
  padding: 10px;

  .modal-card {
    background-color: white;
    padding: .8rem;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 1rem;

    .modal-card-head {

      display: flex;
      justify-content: flex-end;
      background-color: white;
      // margin-bottom: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom: none;

      .delete {
        border-radius: 4px;
      }
    }

    .modal-card-body {
      text-align: center;
      // padding-bottom: 3rem;
      padding: 0;
      // border-bottom-left-radius: 20px;
      // border-bottom-right-radius: 20px;
      border: none;
      // border: 1px solid red;


      .c {
        // border: 1px solid black;
        margin: 0 !important;

        // border: 1px solid black;

        .profile-details {
          padding: 0;
          // border: 1px solid black;
          padding: 5px;
          text-align: center;

          .profile-heading {
            // border: 1px solid blue;
            margin: 0;
            padding: 10px;
            text-align: center;
            align-items: center;

            .profile-logo {
              height: 100px;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              margin: auto;
              width: 100px;
              margin-bottom: 20px;
              text-align: center;
              padding: 20px;
              border-radius: 50%;

              img {
                height: 100%;
              }
            }
          }

          .profile-name,
          .profile-skills,
          .profile-resume {
            // border: 1px solid black;
            margin-top: 10px;

            h2 {
              color: black;
              font-family: 'Inter', sans-serif;
              font-weight: 500;
              font-size: .9rem;
            }

            .details-container {
              margin-top: 10px;

              .tag {
                margin-right: 5px;
                margin-bottom: 10px;
                font-size: .7rem;
                font-family: 'Inter', sans-serif;
              }
            }

            .button {
              font-size: .8rem;
              font-family: 'Inter', sans-serif;
            }
          }

          .profile-location {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .9rem;
            // margin-right: 10px;
            // border: 1px solid black;
            text-align: center;
            margin-top: 5px;
            color: black;

            p {
              font-family: 'Inter', sans-serif;
              margin-left: 5px;
              color: black;
            }
          }
        }

        .experience-details {
          // border: 2px solid red;
          text-align: center;

          .exp-section {
            // border: 1px solid black;


            .section-heading {
              color: black;
              margin-bottom: 10px;
              font-family: 'Inter', sans-serif;
              font-size: .9rem;
              font-weight: 500;
            }

            .exp {
              // border-left: 1px solid gray;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
              margin: auto;
              width: 70%;
              margin-bottom: 20px;
              font-size: .8rem;
              padding: 20px;
              border-radius: 8px;
              color: black;

              h2,
              h3 {
                font-size: .9rem;
                font-family: 'Inter', sans-serif;
                color: black;
              }

              h2 {
                font-weight: 500;
              }

              h3 {
                font-size: .8rem;
              }

              p {
                color: black
              }
            }
          }
        }

      }
    }
  }
}